/ {
	aliases {
		input0 = &input0;
		input1 = &input1;
	};

	buttons {
		compatible = "gpio-keys";

		input0: input_0 {
			gpios = <&gpio0 13 (GPIO_ACTIVE_LOW)>;
		};
		input1: input_1 {
			gpios = <&gpio0 12 (GPIO_ACTIVE_LOW)>;
		};
	};
};
