menuconfig LORA_TCP
    bool "Blink device drivers"

if LORA_TCP

config BLINK_INIT_PRIORITY
    int "Blink priority"
    default KERNEL_INIT_PRIORITY_DEVICE

config LORA_TCP_DEVICE_MAX
    int "Maximum number of registered devices"
    default 1

config LORA_TCP_SHELL
    bool "Enable Lora TCP Shell"
    default true

config LORA_TCP_DATA_MAX_SIZE
    int "Maxumim number of bytes per packet stream"
    default 10

config LORA_TCP_RECV_THREAD_STACK_SIZE
    int "Stack size for the receiving thread"
    default 500

config LORA_TCP_RECV_THREAD_PRIORITY
    int "Priority for the receiving thread"
    default 5

config LORA_TCP_LOG_LEVEL
    int "Lora tcp log level"
    default 2
    range 0 4

config LORA_TCP_NET_LOG_LEVEL
    int "Lora tcp log level for net component"
    default 2
    range 0 4

config LORA_TCP_DEVICE_LOG_LEVEL
    int "Lora tcp log level for device component"
    default 2
    range 0 4

config LORA_TCP_PACKET_LOG_LEVEL
    int "Lora tcp log level for device component"
    default 2
    range 0 4



module = LORA_TCP
module-str = lora_tcp
source "subsys/logging/Kconfig.template.log_config"

endif # LORA_TCP
