menuconfig LORA_TCP
    bool "Blink device drivers"

if LORA_TCP

config BLINK_INIT_PRIORITY
    int "Blink priority"
    default KERNEL_INIT_PRIORITY_DEVICE

config LORA_TCP_DEVICE_MAX
    int "Maximum number of registered devices"
    default 1

module = LORA_TCP
module-str = lora_tcp
source "subsys/logging/Kconfig.template.log_config"

endif # LORA_TCP
